bin/
node_modules/
.serverless/
.idea/
**/.vscode/
data-ingestor/deploy/settings
.env
.env.docker
deployments/environment
/serverless.yml
/deploy.sh
/package.json
/package-lock.json
/external_repositories/datavalidation
/external_repositories/ufcore
test/_pytest/docker_environment
.vscode/

*__pycache__
/test/_pytest/ufcore/
